﻿@model BlogProj.Models.AnnonceCompetence

<form id="AnnonceCompetence">
    <div class="form-group">
        <label for="competenceId">Compétence</label>
        <select class="form-control" id="competenceId" name="competenceId">
            @foreach (var competence in ViewBag.competenceId)
            {
                <option value="@competence.Denomination">@competence.Denomination</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="Niveau">Niveau</label>
        <input type="number" class="form-control" id="Niveau" name="Niveau">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script>
    $(document).ready(function () {
        var form = $("#AnnonceCompetence");
        //What happen on form submit
        form.submit(function (e) {
            e.preventDefault();
            if ($("#AnnonceCompetence").valid()) {
                addCompetence(form.serializeArray());
            }
        })
        //Validation for form
        form.validate({
            rules: {
                compentenceId: {
                    required: true
                },
                Niveau: {
                    required: true
                }
            },
            messages: {
                Niveau: "Attention!!!"
            }
        });
        $.validator.addMethod(
            "competenceId",
            function (value, element) {
                return console.log("pouet")
            }
        );

        function addCompetence(form) {
            //Add the div for layout
            $("<div name=\"tags\" class=\"chip compelement\">")
                .text(form[0].value + " " + form[1].value + "  X")
                .prependTo("#storageCompetence")
                //Adding remove feature
                .click(function () {
                    $(this).prev().remove();
                    $(this).remove();
                });
            //Add the input type hidden
            $("<input type=\"hidden\" class=\"competenceAdded\" name=\"competences[" + form[0].value + "]\">").val(form[1].value).prependTo("#storageCompetence");
            $("#modalForm").modal('toggle');
        } 
    });
</script>