﻿@model BlogProj.Models.Annonce

@{
    ViewBag.Title = Model.Titre.ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h1>@Html.DisplayFor(model => model.Titre)</h1>
    Créé le @Html.DisplayFor(model => model.DateCreation) par @Html.DisplayFor(model => model.Auteur.Nom)
    <hr />

    <div>
        @Html.Raw(Model.Contenu)
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h4>Tags</h4>
            @foreach (var tag in Model.Tags)
            {
                <div class="chip">@Html.DisplayFor(model => tag.Nom)</div>
            }
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h4>Competences requises</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Compétence</th>
                        <th>Niveau</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var annonceCompetence in Model.AnnonceCompetences)
                    {
                        <tr>
                            <td>@annonceCompetence.Competence.Denomination</td>
                            <td>@annonceCompetence.Niveau</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        

    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnnonceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
