﻿@model IEnumerable<BlogProj.Models.Annonce>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Titre).ToHtmlString(), "Index", new { sortOrder = ViewBag.TitreSortParam })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.DateCreation).ToHtmlString(), "Index", new { sortOrder = ViewBag.DateCreationSortParam })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiseAJour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstPublie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuteurId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiseAJour)
            </td>
            <td>
                @if (item.EstPublie)
                {
                    <span class="glyphicon glyphicon-ok-circle text-success" aria-hidden="true"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-remove-circle text-danger" aria-hidden="true"></span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auteur.Nom)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AnnonceId }) |
                @Html.ActionLink("Details", "Details", new { id = item.AnnonceId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AnnonceId })
            </td>
        </tr>
    }

</table>
