﻿@model IEnumerable<BlogProj.Models.Annonce>

@{
    ViewBag.Title = "Annonces";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Annonces de l'auteur XX</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiseAJour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstPublie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiseAJour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstPublie)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Annonce", new { id = item.AnnonceId }, new { @class = "test" }) |
            @Html.ActionLink("Details", "Details", "Annonce", new { id = item.AnnonceId }, new { @class = "test" }) |
            @Html.ActionLink("Delete", "Delete", "Annonce", new { id = item.AnnonceId }, new { @class = "test" }) |
        </td>
    </tr>
}

</table>
