﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.chip {
    cursor: pointer;
    display: inline-block;
    padding: 0 12px;
    height: 32px;
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    line-height: 32px;
    border-radius: 16px;
    background-color: #4db6ac;
    margin-right: 10px;
}